.message-list {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.message-list__sort {
    margin-bottom: 30px;
    align-self: flex-end;
}

.message-list__list {
    display: flex;
    flex-direction: column;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.message-list__item {
    margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {

    .message-list {
        padding: 10px;
    }
}

.message-item-enter {
    transition: opacity .8s, max-height .8s, margin-bottom 0.2s;
    opacity: 0;
    margin-bottom: 0;
    max-height: 0;
}

.message-item-enter-active {
    opacity: 1;
    max-height: 500px;
    margin-bottom: 30px;
}

.message-item-exit-active {
    transition: opacity 0.2s, max-height 3s, margin-bottom 0.3s;
    opacity: 0;
    margin-bottom: 0;
    max-height: 0;
}