
.message__container {
    margin-bottom: 7px;
    display: flex;
    gap: 10px;
}

.message__left-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.message__right-section {
    flex: 1;
}

.message__header {
    margin: 0 0 10px;
    display: flex;
    justify-content: space-between;
}

.message__author {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 0.8;
    color: #808080;
}

.message__comment {
    margin: 0;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 0.8;
    color: #808080;
}

.menu {
    display: flex;
    align-items: center;
    gap: 29px;
}

.button {
    cursor: pointer;
    transition: all .2s ease-out;
}

.button:hover {
    opacity: .7;
}

.i-dont-know-what-its-for {
    display: flex;
    gap: 10px;
}

.i-dont-know-what-its-for__button {
    padding: 8px 10px;
    background: transparent;
    border: 1px solid #0088EE;
    border-radius: 3px;
    font-size: 11px;
    color: #0088EE;
}

.actions {
    display: flex;
    align-items: center;
}

.actions__button {
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
}

.message__text {
    margin: 0;
    font-size: 16px;
}

.message-content__video {
    width: 400px;
    height: 200px;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

.message-content__video:hover {
    opacity: .8;
}

.message-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.message-content__text {
    margin: 0;
    line-height: 1.35;
    font-size: 16px;
    letter-spacing: -3.5%;
}

.message-content__text_hidden {
    height: 65px;
    overflow: hidden;
}

.message-content__button {
    padding: 0;
    align-self: flex-start;
    background: transparent;
    border: none;
    font-size: 12px;
    line-height: 0.8;
    color: #808080;
}

.hashtag {
    margin-right: 8px;
    font-size: 12px;
    line-height: 0.8;
    color: #CDCDCD;
    transition: all .2s ease-out;
    cursor: pointer;
}

.hashtag:hover {
    color: #0088EE;
}
